html, body {
    background-color: #21232a;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 20px;
}

button {
    font-size: 20px;
    height: 3rem;
    padding: 10px;
    margin-right: 1rem;
    width: 5rem;
}